    <div class="header">
        <div class="logos">
            <img src="images/kinsley.png" />
        </div>
        <div class="inlog">
            <a href="login">Login</a>
            <a href="register">Register</a>
        </div>
    </div>