<!DOCTYPE html>
<html>
    <% include partials/head %>

    <body id="background-pr">
    
        <% include partials/header %>

        <% include partials/sidebar %>
	
        <div class="body">
            <button type="button" class="pr" id="pr" onclick="changeIDpr()">Projects</button>
            <button type="button" class="pr" id="rc" onclick="changeIDrc()">Resources</button>
            <br/>
            <form action="">
                <input id="m" type="text" oninput="update()" autocomplete="off" />
                     <form id="resultatenzoeken">
            <button id="search">
                <img src="images/search.svg" />
            </button>
            </form>
                <button id="filtr">
                    <img src="images/filter.svg" />
                </button>
            </form>
       
            <table id="suggestions" />
            <br/>
            <button type="button" class="pr">Aantal records</button>
            <table id=results-beroep></table>
            <table id=results-project></table>
        </div>
        <div class="bottom">
            <div class="container">
            </div>
        </div>
    <script src=js/resultaten.js></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src=js/suggesties.js></script>
    </body>
</html>
