<!DOCTYPE html>
<html>
    <% include partials/head %>

    <body id="background-pr">
    
        <% include partials/header %>

        <% include partials/sidebar %>
	
        <div class="body" id="login-screen">
            Log hier in met uw gebruikersnaam en wachtwoord
			<br/>
			<br/>
			<table>
				<tr><td>
					<table>
						<tr>
							<td>Gebruikersnaam:</td>
							<td><input type="text" id="username"></td>
						</tr>
						<tr>
							<td>Wachtwoord:</td>
							<td><input type="password" id="password"></td>
						</tr>
					</table>
				</td>
				<td>
					<button id="loginbtn" class="pr" onclick="onLogin()">Log in</button>
				</td></tr>
			</table>
			<br/>
			<a href="forgotpassword" id="wwverg">Wachtwoord vergeten</a>
			<br/><br/>
			Nog geen account?
			<form action="register">
				<input type="submit" value="Registreren">
			</form>
			<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
            <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
            <script>
                var socket = io();

                function onLogin(){
					var credentials = {username:$('#username').val(), password:$('#password').val()};
					socket.emit('login', credentials);
                }
				
                socket.on('login', function(userId) {
					if (userId){
						sessionStorage.setItem("userId", userId);
					}
					updateBtnText(userId);
                });
				socket.on('validate', function(sessionId){
					sessionStorage.setItem("sessionId", sessionId);
				});
            </script>
        </div>
        <div class="bottom">
            <div class="container">
            </div>
        </div>
    </body>
</html>
