<!DOCTYPE html>
<html>
    <% include partials/head %>

    <body id="background-pr">
    
        <% include partials/header %>

        <% include partials/sidebar %>
	
        <div class="body">
            <table>
                <tr>
                    <td>MIJN ACCOUNT VAN: "USER"</td>
                </tr>
            </table>
        </div>
        <div class="bottom">
            <div class="container">
            </div>
        </div>
    </body>
</html>
