body {
	background-color: #5FC7FD;
}

.header {
	width: 1824 px;
	height: 108 px;
	background-color: #4D4D4D;
}

.left-sidebar {
	background-color: #5FC7FD;
	width: 98 px;
	height: 100%;
	color: #4D4D4D;
	position: fixed;
	padding: 10px 0px 10px 16px;
	margin-top: -10px;
	margin-left: -110px;
}

.left-sidebar a {
	float: right;
	text-align: left;
	color: #4D4D4D;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;  
	text-decoration: none;
}

.body {
	margin: 0 auto;
	width: 50%;
	height: 50%;
}

ul {
	border-right: 4px solid black;
	list-style-type: none;
}

.dropdown-menu {
	border: 0px;
}