.header {
	position:fixed;
	top:0;
	left:0; 
	background-color: #29446C;
	width: 100%;
	height: 130px;
	border-bottom: 2px solid black;
	margin-top: -10px;
}

body {  
	margin-top: 238px;
	overflow-y: scroll; 
}


.logos {
	margin-left: 42%;
}

.logos img {
	padding: 10px;
	margin-top: 26px;
	max-width: 200px;
}

.inlog {
	float: right;
	margin-top: -45px;
	margin-right: 30px;
}

#login {
    margin-left: -20px;
}

.header a {
	margin: 0px 20px;
	padding: 14px 20px;
	float: right;
	text-decoration: none;
	color: lightgrey;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    color: whitesmoke;
}

.left-sidebar {
	background-color: rgba(92, 104, 120, 0.66);
	width: 135px;
	height: 100%;
	color: lightgrey;
	position: fixed;
	padding: 5px 0px 10px 16px;
	margin-top: -116px;
	margin-left: -110px;
	list-style-type: none;
}

.left-sidebar a {
	float: right;
	text-align: left;
	color: lightgrey;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;  
	text-decoration: none;
}

.left-sidebar img {
	margin-top: 10px;
	width: 48px;
}

body#background-pr {
   background: url('images/bg-projects.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body#background-ppr {
	background: url('images/bg-projectpage.jpg') no-repeat 50% 50% fixed; 
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}


body#background-rc {
  background: url('images/bg-resources.jpg')  no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


.body { 
	background-color: rgba(136, 143, 153, 0.65);
	padding: 40px;
	margin-left: 30%;
	width: 750px;
    position: fixed;
}

.body-pr { 
	background-color: #999999;
	border: 3px solid #00353F;
	padding: 40px;
	margin-left: 30%;
	width: 750px;
}

.pr	{
	width: 100px;
	height: 46px;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;  
}

button {
	width: 50px;
	height: 46px;
	border: 0px;
	background-color: #062A60;
	color: lightgrey;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;  
}

button:hover {
    color: whitesmoke;
    border: 1px solid rgba(0,0,0, 0.5);
}

#m {
    font-size:24px;
	position: fixed;
	height: 40px;
	width: 638px;
}

#search {
	margin-left: 692px;
}

#search:hover {
    border: 1px solid rgba(0,0,0, 0.5);
}

#filtr {
    margin-left: 642px;
}
#filtr:hover {
    border: 1px solid rgba(0,0,0, 0.5);
}

#suggestion {
	width: 638px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

#suggestion:hover {
	background-color: #EEEEEE;
}

#resultitem{
	width: 90%;
	height: 60px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #DDDDDD;
}

#resultitem:hover{
	background-color: #EEEEEE;
}

.item {
    cursor: pointer;
    margin-left: -40px;
    width: 800px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    background: lightsteelblue;
    padding: 15px;
}

.description {
  display: none;
}