.header {
	position:fixed;
	top:0;
	left:0; 
	background-color: deepskyblue;
	width: 100%;
	height: 110px;
	border-bottom: 2px solid black;
	margin-top: -10px;
}

body {  
	margin-top: 238px;
	overflow-y: scroll; 
}


.logos {
	margin-left: 42%;
}

.logos img {
	padding: 10px;
	margin-top: 5px;
	max-width: 200px;
}

.inlog {
	float: right;
	margin-top: -45px;
	margin-right: 30px;
}

#login {
    margin-left: -20px;
}

.header a {
	margin: 0px 20px;
	padding: 15px 20px;
	float: right;
	text-decoration: none;
	color: #899496;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    color: dimgrey;
}

.left-sidebar {
	background-color: skyblue;
	width: 135px;
	height: 100%;
	color: #00353F;
	position: fixed;
	padding: 5px 0px 10px 16px;
	margin-top: -136px;
	margin-left: -110px;
	list-style-type: none;
}

.left-sidebar a {
	float: right;
	text-align: left;
	color: #00353F;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;  
	text-decoration: none;
}

.left-sidebar img {
	margin-top: 10px;
	width: 48px;
}

body#background-pr {
   background: url('images/bg-projects.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body#background-ppr {
	background: url('images/bg-projectpage.jpg') no-repeat 50% 50% fixed; 
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}


body#background-rc {
  background: url('images/bg-resources.jpg')  no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


.body { 
	background-color: rgba(30, 144, 255, 0.38);
	padding: 40px;
	margin-left: 30%;
	margin-top: 238px;
	width: 750px;
}

.body-pr { 
	background-color: #999999;
	border: 3px solid #00353F;
	padding: 40px;
	margin-left: 30%;
	width: 750px;
}

.pr	{
	width: 100px;
	height: 46px;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;  
}

button {
	width: 50px;
	height: 46px;
	border: 0px;
	background-color: skyblue;
	color: dimgrey;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;  
}

button:hover {
    color: black;
    border: 1px solid rgba(0,0,0, 0.5);
}

#m {
    font-size:24px;
	position: fixed;
	height: 40px;
	width: 638px;
}

#search {
	margin-left: 642px;
}

#search:hover {
    border: 1px solid rgba(0,0,0, 0.5);
}

#filtr:hover {
    border: 1px solid rgba(0,0,0, 0.5);
}

#suggestion {
	width: 638px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

#suggestion:hover {
	background-color: #EEEEEE;
}